<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.badmanners.murglar.plugin.soundcloud">

    <application>
        <activity android:name="com.badmanners.murglar.plugin.LinkRedirectActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />

                <data android:host="*soundcloud.com" />
                <data android:pathPrefix="/" />
            </intent-filter>
        </activity>
    </application>
</manifest>