sdk.dir=C\:\\android-sdk

myMavenRepoReadUrl=https://mymavenrepo.com/repo/******/

keyAlias=release
keyPassword=******
storeFile=keystore.jks
storePassword=******

githubRepo=badmannersteam/murglar-android-plugins
githubToken=******
