<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.badmanners.murglar.plugin.deezer">

    <application>
        <activity android:name="com.badmanners.murglar.plugin.LinkRedirectActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />

                <data android:host="*deezer.com" />
                <data android:pathPattern="/.*/artist/.*" />
                <data android:pathPattern="/.*/album/.*" />
                <data android:pathPattern="/.*/playlist/.*" />
                <data android:pathPattern="/.*/track/.*" />
                <data android:pathPattern=".*/artist/.*" />
                <data android:pathPattern=".*/album/.*" />
                <data android:pathPattern=".*/playlist/.*" />
                <data android:pathPattern=".*/track/.*" />
            </intent-filter>
        </activity>
    </application>
</manifest>